@charset "UTF-8";

/*기본색*/

:root {
    --main-color: #5D9AB2;
    --accent-color: #BF6A7A;
    --dark-color: #2B5566;
    --text-bright-color: #fff;
    --icon-color: #fff;
    --icon-bk-color: #ddd;
    --large-width: 1000px;
}

/* 기본설정: 페이지 전체*/
body {
    font-family: '맑은 고딕',
    'Apple SD Gothic Neo',
    'sans-serif';
    margin: 0;
}

.contentsA {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/test.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 100vh;
    min-height: 450px;
    color: #fff;
    color: var(--text-bright-color);
}

.contentsA img {
    width: 20%;
}

.contentsA a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    border: solid 3px currentColor;
    border-radius: 6px;
    background-color: #BF6A7A;
    background-color: var(--accent-color);
    color: #fff;
    color: var(--text-bright-color);
    font-size: 14px;
    text-decoration: none;
}

.contentsA a:hover {
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.2)
    );
}

.contentsA h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 15vw;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
    margin-left: 0.2em;
}

.contentsA p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
}

/*contentsB: 개요 (아이콘 + 글자)*/
.contentsB h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.contentsB p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 10px;
    line-height: 1.8;
    /*글자의 투명도*/
    opacity: 0.8;
}

.contentsB a {
    color: #5D9AB2;
    color: var(--main-color);
    text-decoration: none;
}

.contentsB a:hover {
    text-decoration: underline;
}

.contentsB .icon {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 40px;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    background-color: #ddd;
    background-color: var(--icon-bk-color);
    color: #fff;
    color: var(--icon-color);
}

.contentsB .container {
    padding-top: 80px;
    padding-bottom: 20px;
}

.contentsB .text {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    text-align: center;
}

.contentsB .text {
    text-align: center;
}

.contentsB h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.contentsB p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8;
}

/*ContentsC*/
.contentsC h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.contentsC p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8;
}

.contentsC a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    border: solid 3px currentColor;
    border-radius: 6px;
    background-color: #BF6A7A;
    background-color: var(--accent-color);
    color: #fff;
    color: var(--text-bright-color);
    font-size: 14px;
    text-decoration: none;
}

.contentsC a:hover {
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.2)
    );
}

.contentsC {
    background-color: #5D9AB2;
    background-color: var(--main-color);
    color: #fff;
    color: var(--text-bright-color)
}

.contentsC .photo {
    min-height: 200px;
    background-image: url("../img/catIimg.jpg");
    background-position: center;
    background-size: cover;
}

.contentsC .text {
    padding: 20px;
}

/*ContentsD*/
.contentsD {
    background-color: #BF6A7A;
    background-color: var(--accent-color);
}

.contentsD .container {
    padding-top: 2px;
}

.contentsD h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.contentsD p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8;
}

.contentsD a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    border: solid 3px currentColor;
    border-radius: 6px;
    background-color: #BF6A7A;
    background-color: var(--accent-color);
    color: #fff;
    color: var(--text-bright-color);
    font-size: 14px;
    text-decoration: none;
    box-shadow: 0 0 0 1px #888;
}

.contentsD a:hover {
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.2)
    );
}

.contentsD .photo {
    min-height: 200px;
    background-image: url("../img/dog.jpg");
    background-position: center;
    background-size: cover;
}

.contentsD .text {
    padding: 20px;
}

/*768px 이상의 크기에서만 적용되는 css*/
@media (min-width: 768px) {
    .contentsA h1 {
        font-size: 115px;
    }

    .contentsA p {
        font-size: 24px;
    }

    .contentsB .container {
        display: flex;
        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }

    .contentsB .text {
        flex: 1;
    }

    .contentsC .container {
        display: flex;
        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }

    /*flex지정하면 표시되는 비율*/
    .contentsC .photo {
        flex: 0 0 400px;
    }

    .contentsC .text {
        flex: 2;
        padding: 50px;
    }

    .contentsD .container {
        display: flex;
        flex-direction: row-reverse;
        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    /*flex지정하면 표시되는 비율*/
    .contentsD .photo {
        flex: 3;
    }

    .contentsD .text {
        flex: 2;
        padding: 50px;
    }

    .footB {
        display: flex;
    }

    .footB div {
        flex: 1;
    }

    .footB div:not(:first-child) {
        margin-left: 40px;
    }

    footer .container {
        display: flex;
        flex-wrap: wrap;
        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }

    .footA {
        flex: 0 0 40%;
    }

    .footB {
        flex: 0 0 60%;
    }

    .footC {
        flex: 0 0 100%;
    }
}

/*푸터*/
footer {
    color: #fff;
    color: var(--text-bright-color);
    background-color: #2B5566;
    background-color: var(--dark-color);
}

footer .container {
    padding: 40px 20px;
}

/*푸터A: 사이트 정보*/
.footA h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
}

.footA a {
    color: inherit;
    text-decoration: none;
}

.footA {
    margin-bottom: 30px;
}

.footA p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}

/*푸터 B 정보*/
.footB h3 {
    margin-top: 0;
    margin-bottom: 10px;
    border-bottom: solid 1px currentColor;
    font-size: 14px;
}

.footB ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footB a {
    color: inherit;
    font-size: 12px;
    text-decoration: none;
    display: block;
    padding: 5px;
}

.footB a:hover {
    background-color: rgba(0,0,0,0.3);
}

.footB div {
    margin-bottom: 20px;
}

.footC {
    font-size: 12px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}