<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <!--google font : 글씨체 사용 link-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!--font awsome : 아이콘 폰트 사용 link-->
    <script src="https://kit.fontawesome.com/d3c602d3e7.js" crossorigin="anonymous"></script>
    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $(function(){
            $(".headC").click(function (){
                $(".headB").slideToggle();
            });
        });
    </script>
</head>
<body class="nohero">
<header>
    <div class="container">
        <div class="container-small">
            <a href="/" class="headA">LOGGER</a>

            <button type="button" class="headC">
                <i class="fa-sharp fa-solid fa-bars-staggered"></i>
            </button>
        </div>

        <nav class="headB">
            <ul>
                <li><a href="/">TOP</a></li>
                <li><a href="/contents">컨텐츠</a></li>
                <li><a href="about.html">소개</a></li>
                <li><a href="contact.html">문의</a></li>
            </ul>
        </nav>
    </div>
</header>

<article class="post">
    <div class="container">
        <h1>
            라이프 로그 시작하기
        </h1>

        <img src="img/dog.jpg" alt="">

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non velit sem. Nulla gravida pharetra viverra. Ut sit amet vestibulum nibh. Aliquam nec eros in lacus posuere convallis. Morbi vel pellentesque libero. Integer porttitor fringilla sodales. Duis nec libero magna. Nullam iaculis lobortis urna nec dapibus. Nunc non congue dolor, maximus vulputate justo. Vivamus magna quam, malesuada sed tincidunt eu, commodo vel turpis. Integer eu purus suscipit erat varius pulvinar. Vestibulum laoreet, leo a ullamcorper dignissim, nisi diam mollis sapien, id condimentum nulla enim at nibh. Duis vitae mi nisi. Sed lorem orci, dignissim fermentum convallis ut, fringilla vel dui. Nam magna ex, dapibus vitae risus in, porttitor rhoncus dolor.

            Nulla fermentum dignissim sapien, id ullamcorper mi hendrerit ac. Morbi bibendum lobortis mi. Nam felis erat, suscipit eget condimentum nec, congue rhoncus felis. Sed nunc sem, pretium eu efficitur vel, auctor vitae nisl. Maecenas viverra tempor turpis. Integer dapibus orci sit amet mi ultricies, quis consectetur est interdum. Integer eleifend magna ac augue mollis bibendum. Nam nec sapien et justo luctus tempus. Curabitur porttitor, ipsum at auctor rutrum, sapien sapien ultricies nisl, vel dapibus magna massa nec massa. Ut quis augue ac nunc consectetur molestie. Donec vestibulum libero sit amet accumsan tincidunt. Pellentesque sagittis auctor libero, ut mollis metus. Maecenas efficitur ex sit amet tellus pellentesque, at fringilla nulla consectetur. Ut lacinia molestie tincidunt. Sed at tempus ex.
        </p>

    </div>
</article>

<footer>
    <div class ="container">
        <div class="footA">
            <h2>LOGGER</h2>
            <p>
                주소 : 인천광역시 서구 봉오재 3로 11
                <a href="#"></a>
            </p>

            <nav class="footD">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <nav class="footB">
            <div>
                <h3>ABOUT</h3>
                <ul>
                    <li><a href="#">설립</a></li>
                    <li><a href="#">주소</a></li>
                    <li><a href="#">지도</a></li>
                    <li><a href="#">스태프</a></li>
                </ul>
            </div>

            <div>
                <h3>SUPPORT</h3>
                <ul>
                    <li><a href="#">다운로드</a></li>
                    <li><a href="#">메뉴얼</a></li>
                    <li><a href="#">자주 묻는 질문</a></li>
                    <li><a href="#">문의</a></li>
                </ul>
            </div>

            <div>
                <h3>CONTENTS</h3>
                <ul>
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">비즈니스</a></li>
                    <li><a href="#">프로필</a></li>
                    <li><a href="http://jootang2.tistory.com">블로그</a></li>
                    <li><a href="http://www.github.com/jootang2">GitHub</a></li>
                </ul>
            </div>
        </nav>
        <div class="footC">
            © LOGGER corp. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>