<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <!--google font : 글씨체 사용 link-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!--font awsome : 아이콘 폰트 사용 link-->
    <script src="https://kit.fontawesome.com/d3c602d3e7.js" crossorigin="anonymous"></script>
</head>
<body>

<section class="contentsA">
    <div class="container">
        <img src="../img/freeSvg.svg" alt="">
        <h1>LOGGER</h1>
        <p>맛있고 즐거운 라이프로그</p>
        <a href="#">시작하기</a>
    </div>
</section>

<section class="contentsB">
    <div class="container">
        <div class="text">
            <!--aria-hidden: true => 화면에 있는 글자를 읽어주는 소프트웨어 등에서 정보를 전달하지 않음-->
            <i class="fa-solid fa-spider icon" aria-hidden="true"></i>
            <h2>라이프로그란?</h2>
            <p>라이프로그사이트를 만드는 이유는 CSS를 익숙하게 하기 위함이다.
            <br>
            CSS는 영역을 나누는 일인데 유동적이지 않은 영역을 나누는 것은 아무나 할 수 있다.
            <br>
            하지만 유동적으로 화면의 크기나 비율에 맞춰서 표현해야하기 때문에 어렵다.
            <br>
            또한, 사용자들의 요구에 따라 기존에 있는 명령어들을 조합해서 해야하기 때문에 반복 숙달이 필요하다.</p>
            <a href="#">More ...</a>
            <i class="fa-solid fa-angles-right" aria-hidden="true"></i>
        </div>
    </div>
</section>

</body>
</html>