<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <!--google font : 글씨체 사용 link-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!--font awsome : 아이콘 폰트 사용 link-->
    <script src="https://kit.fontawesome.com/d3c602d3e7.js" crossorigin="anonymous"></script>
    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $(function(){
            $(".headC").click(function (){
                $(".headB").slideToggle();
            });
        });
    </script>
</head>
<body>
<header>
    <div class="container">
        <div class="container-small">
            <a href="/" class="headA">LOGGER</a>

            <button type="button" class="headC">
                <i class="fa-sharp fa-solid fa-bars-staggered"></i>
            </button>
        </div>

        <nav class="headB">
            <ul>
                <li><a href="/">TOP</a></li>
                <li><a href="/contents">컨텐츠</a></li>
                <li><a href="about.html">소개</a></li>
                <li><a href="contact.html">문의</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="contentsA">
    <div class="container">
        <img src="../img/freeSvg.svg" alt="">
        <h1>LOGGER</h1>
        <p>맛있고 즐거운 라이프로그</p>
        <a href="#">시작하기</a>
    </div>
</section>

<section class="contentsB">
    <div class="container">
        <div class="text">
            <!--aria-hidden: true => 화면에 있는 글자를 읽어주는 소프트웨어 등에서 정보를 전달하지 않음-->
            <i class="fa-solid fa-spider icon" aria-hidden="true"></i>
            <h2>라이프로그란?</h2>
            <p>라이프로그사이트를 만드는 이유는 CSS를 익숙하게 하기 위함이다.
            <br>
            CSS는 영역을 나누는 일인데 유동적이지 않은 영역을 나누는 것은 아무나 할 수 있다.
            <br>
            하지만 유동적으로 화면의 크기나 비율에 맞춰서 표현해야하기 때문에 어렵다.
            <br>
            또한, 사용자들의 요구에 따라 기존에 있는 명령어들을 조합해서 해야하기 때문에 반복 숙달이 필요함.</p>
            <a href="#">More ...</a>
            <i class="fa-solid fa-angles-right" aria-hidden="true"></i>
        </div>

        <div class="text">
            <i class="fa-solid fa-gear icon" aria-hidden="true"></i>
            <h2>라이프로그란?</h2>
            <p>여러가지 Setting을 할 수 있습니다.</p>
            <a href="#">More ...</a>
            <i class="fa-solid fa-angles-right" aria-hidden="true"></i>
        </div>

        <div class="text">
            <i class="fa-solid fa-mobile icon" aria-hidden="true"></i>
            <h2>SNS 연동</h2>
            <p>SNS와 연동해서 로그를 간단하게 공유할 수 있습니다.</p>
            <a href="#">More ...</a>
            <i class="fa-solid fa-angles-right" aria-hidden="true"></i>
        </div>
    </div>
</section>

<section class="contentsC">
    <div class="container">
        <div class="photo"></div>
        <div class="text">
            <h2>귀찮은 설정과 데이터 관리를 하지 않아도 됩니다.</h2>
            <p>라이프로그에서는 다른 애플리케이션과의 연동도 버튼 한번이면 해결가능합니다.</p>
            <a href="#">자세히 보기
            <i class="fa-solid fa-angles-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>

<section class="contentsD">
    <div class="container">
        <div class="photo"></div>
        <div class="text">
            <h2>라이프로그와 함께하는 일상 생활</h2>
            <p>순간을 기록하다보면 알지 못하는 즐거움이 찾아오기도 합니다.</p>
            <a href="#">자세히 보기
                <i class="fa-solid fa-angles-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>

</body>

<footer>
    <div class ="container">
        <div class="footA">
            <h2>LOGGER</h2>
            <p>
                주소 : 인천광역시 서구 봉오재 3로 11
                <a href="#"></a>
            </p>

            <nav class="footD">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <nav class="footB">
            <div>
                <h3>ABOUT</h3>
                <ul>
                    <li><a href="#">설립</a></li>
                    <li><a href="#">주소</a></li>
                    <li><a href="#">지도</a></li>
                    <li><a href="#">스태프</a></li>
                </ul>
            </div>

            <div>
                <h3>SUPPORT</h3>
                <ul>
                    <li><a href="#">다운로드</a></li>
                    <li><a href="#">메뉴얼</a></li>
                    <li><a href="#">자주 묻는 질문</a></li>
                    <li><a href="#">문의</a></li>
                </ul>
            </div>

            <div>
                <h3>CONTENTS</h3>
                <ul>
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">비즈니스</a></li>
                    <li><a href="#">프로필</a></li>
                    <li><a href="http://jootang2.tistory.com">블로그</a></li>
                    <li><a href="http://www.github.com/jootang2">GitHub</a></li>
                </ul>
            </div>
        </nav>
        <div class="footC">
            © LOGGER corp. All rights reserved.
        </div>
    </div>
</footer>
/* git test */
</html>