<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <!--google font : 글씨체 사용 link-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!--font awsome : 아이콘 폰트 사용 link-->
    <script src="https://kit.fontawesome.com/d3c602d3e7.js" crossorigin="anonymous"></script>
    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $(function(){
            $(".headC").click(function (){
                $(".headB").slideToggle();
            });
        });
    </script>
</head>
<body>
<header>
    <div class="container">
        <div class="container-small">
            <a href="/" class="headA">LOGGER</a>

            <button type="button" class="headC">
                <i class="fa-sharp fa-solid fa-bars-staggered"></i>
            </button>
        </div>

        <nav class="headB">
            <ul>
                <li><a href="/">TOP</a></li>
                <li><a href="/contents">컨텐츠</a></li>
                <li><a href="/about">소개</a></li>
                <li><a href="/contact">문의</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="contentsA compact">
    <div class="container">
        <h1>LOGGER</h1>
        <p>맛있고 즐거운 라이프로그</p>
    </div>
</section>


<section class="listA">
    <h1 class="sr-only"> RECENT POSTS </h1>
    <div class="container">
        <article>
            <a href="#">
                <div class="text">
                    <div class="photo" style="background-image: url('../img/christmas.jpg');"></div>
                    <h2>기사 1번의 제목</h2>
                    <p>기사 1번의 간단한 내용입니다. 이 곳에다가는 한 줄 소개나 내용의 일부분을 작성하시면 됩니다.</p>
                </div>
            </a>
        </article>

        <article>
            <a href="#">
                <div class="text">
                    <div class="photo" style="background-image: url('../img/christmas.jpg');"></div>
                    <h2>기사 1번의 제목</h2>
                    <p>기사 1번의 간단한 내용입니다. 이 곳에다가는 한 줄 소개나 내용의 일부분을 작성하시면 됩니다.</p>
                </div>
            </a>
        </article>

        <article>
            <a href="#">
                <div class="text">
                    <div class="photo" style="background-image: url('../img/christmas.jpg');"></div>
                    <h2>기사 1번의 제목</h2>
                    <p>기사 1번의 간단한 내용입니다. 이 곳에다가는 한 줄 소개나 내용의 일부분을 작성하시면 됩니다.</p>
                </div>
            </a>
        </article>

        <article>
            <a href="#">
                <div class="text">
                    <div class="photo" style="background-image: url('../img/christmas.jpg');"></div>
                    <h2>기사 1번의 제목</h2>
                    <p>기사 1번의 간단한 내용입니다. 이 곳에다가는 한 줄 소개나 내용의 일부분을 작성하시면 됩니다.</p>
                </div>
            </a>
        </article>

        <article>
            <a href="#">
                <div class="text">
                    <div class="photo" style="background-image: url('../img/christmas.jpg');"></div>
                    <h2>기사 1번의 제목</h2>
                    <p>기사 1번의 간단한 내용입니다. 이 곳에다가는 한 줄 소개나 내용의 일부분을 작성하시면 됩니다.</p>
                </div>
            </a>
        </article>

        <article>
            <a href="#">
                <div class="text">
                    <div class="photo" style="background-image: url('../img/christmas.jpg');"></div>
                    <h2>기사 1번의 제목</h2>
                    <p>기사 1번의 간단한 내용입니다. 이 곳에다가는 한 줄 소개나 내용의 일부분을 작성하시면 됩니다.</p>
                </div>
            </a>
        </article>

        <article>
            <a href="#">
                <div class="text">
                    <div class="photo" style="background-image: url('../img/christmas.jpg');"></div>
                    <h2>기사 1번의 제목</h2>
                    <p>기사 1번의 간단한 내용입니다. 이 곳에다가는 한 줄 소개나 내용의 일부분을 작성하시면 됩니다.</p>
                </div>
            </a>
        </article>

        <article>
            <a href="#">
                <div class="text">
                    <div class="photo" style="background-image: url('../img/christmas.jpg');"></div>
                    <h2>기사 1번의 제목</h2>
                    <p>기사 1번의 간단한 내용입니다. 이 곳에다가는 한 줄 소개나 내용의 일부분을 작성하시면 됩니다.</p>
                </div>
            </a>
        </article>

        <article>
            <a href="#">
                <div class="text">
                    <div class="photo" style="background-image: url('../img/christmas.jpg');"></div>
                    <h2>기사 1번의 제목</h2>
                    <p>기사 1번의 간단한 내용입니다. 이 곳에다가는 한 줄 소개나 내용의 일부분을 작성하시면 됩니다.</p>
                </div>
            </a>
        </article>

        <article>
            <a href="#">
                <div class="text">
                    <div class="photo" style="background-image: url('../img/christmas.jpg');"></div>
                    <h2>기사 1번의 제목</h2>
                    <p>기사 1번의 간단한 내용입니다. 이 곳에다가는 한 줄 소개나 내용의 일부분을 작성하시면 됩니다.</p>
                </div>
            </a>
        </article>

        <article>
            <a href="#">
                <div class="text">
                    <div class="photo" style="background-image: url('../img/christmas.jpg');"></div>
                    <h2>기사 1번의 제목</h2>
                    <p>기사 1번의 간단한 내용입니다. 이 곳에다가는 한 줄 소개나 내용의 일부분을 작성하시면 됩니다.</p>
                </div>
            </a>
        </article>

        <article>
            <a href="#">
                <div class="text">
                    <div class="photo" style="background-image: url('../img/christmas.jpg');"></div>
                    <h2>기사 1번의 제목</h2>
                    <p>기사 1번의 간단한 내용입니다. 이 곳에다가는 한 줄 소개나 내용의 일부분을 작성하시면 됩니다.</p>
                </div>
            </a>
        </article>
    </div>
</section>




<footer>
    <div class ="container">
        <div class="footA">
            <h2>LOGGER</h2>
            <p>
                주소 : 인천광역시 서구 봉오재 3로 11
                <a href="#"></a>
            </p>

            <nav class="footD">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <nav class="footB">
            <div>
                <h3>ABOUT</h3>
                <ul>
                    <li><a href="#">설립</a></li>
                    <li><a href="#">주소</a></li>
                    <li><a href="#">지도</a></li>
                    <li><a href="#">스태프</a></li>
                </ul>
            </div>

            <div>
                <h3>SUPPORT</h3>
                <ul>
                    <li><a href="#">다운로드</a></li>
                    <li><a href="#">메뉴얼</a></li>
                    <li><a href="#">자주 묻는 질문</a></li>
                    <li><a href="#">문의</a></li>
                </ul>
            </div>

            <div>
                <h3>CONTENTS</h3>
                <ul>
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">비즈니스</a></li>
                    <li><a href="#">프로필</a></li>
                    <li><a href="http://jootang2.tistory.com">블로그</a></li>
                    <li><a href="http://www.github.com/jootang2">GitHub</a></li>
                </ul>
            </div>
        </nav>
        <div class="footC">
            © LOGGER corp. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>
